:root{
    --black: #000;
    --white: #fff;
    --blue: #0000EE;
    --gray: #d4d4d4;
    --dark-gray: #383838;
    --button-dimensions: 75px;
}


#entry{
    width: 100%;
    height: fit-content;
    min-height: 600px;
    background-color: var(--black);
}

#slide{
    width: 40%;
    height:inherit;
    background-image: url(../images/daniel-tomov_edited.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    background-color: var(--black);
    background-position: center;
}

#slide img{
    height:inherit;
    display: inline-block;
    vertical-align: middle;   
}

#about{
    width:40%;
    margin-right: 15%;
}

main{
    width: 100%;
    height: fit-content;
    margin: 25px auto 0 auto;
}

#intro{
    width: 65%;
    height: fit-content;
    margin: 0 auto;
}

#left{
    float:left;
    width: 60%;
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
}

#right{
    float:right;
    width: 30%;
}

.section{
    background-color: var(--black);
}

.holder{
    width: fit-content;
    margin: 0 auto;
}

.cert{ 
    width: 600px;
    height: fit-content;
    margin: 0 auto;
    text-align: center;
    margin: 30px 0;
}

.cert-img{
    /*border:#0000EE;*/
    height: 150px;
    margin: 0 auto;
    display:block;
}

.accomplishment{ 
    width: 500px;
    height: fit-content;
    margin: 0 auto 20px auto;
    text-align: center;
    margin: 30px auto;
}

.accomplishment-img{
    /*border:#0000EE;*/
    height: 500px;
    width: auto;
    display:block;
    margin: 0 auto;
}

#social{width: 500px;}

#social .description{
    text-align: center;
    margin: 10px auto;
}

#social h2 a{color: var(--gray)}

footer{
    position: relative;
    clear: both;
    padding: 25px 0;
    background-color: var(--black);
    color: var(--white);
}

#selector{
    position: fixed;
    right: 20px;
    /*border: var(--blue) 5px dashed;*/
    width: var(--button-dimensions);
    height: fit-content;
}

.changers{
    width: var(--button-dimensions);
    height: var(--button-dimensions);
    font-size:larger;
    background-color: var(--dark-gray);
    border: none;
    margin: 5px 0;
    border-radius: 20in;
}

.changers:active, .changers:hover{
    background-color: var(--gray);
    transition: cubic-bezier(0.68, -0.55, 0.265, 1.55) 400ms;
}





*, html, body, a, p, li, ol{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: var(--black)
}

body{background-color: var(--black);}

.white{color:var(--white)}
.black{color: var(--black)}
.gray{color: var(--gray) !important}.dark-gray{color:var(--dark-gray) !important}
.left{float:left;}.right{float:right;}.clear{clear:both;}
.links{color: var(--blue); text-decoration: underline;}
.center{text-align:center}.margin-center{display:block; margin: 0 auto;}

h1{
    font-family: bungee, sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 50px;
    position: relative;
    top: 76%;
}

h2{
    font-family: source-serif-pro, serif;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
    margin: 0 0 0 10px;
}

p{font-size:19px;}

.description{
    font-family: source-serif-pro, serif;
    font-weight: 400;
    font-style: normal;
}

.description a{
    font-weight: 400;
}

.divider{
    padding: 10px 0;
    clear:both;
}
