*, html, body, a, p, li, ol{
    text-decoration: none;
    margin: 0;
    padding: 0;
    list-style-type: none;
    color: black;
    font-family:Calibri, Arial;
}

#entry{
    width: 100%;
    min-height: 600px;
/*    background-image: url(../images/original.jpg);
    background-size: auto 650px;
    background-repeat: no-repeat;
    background-position: top center;
    */
    background-color:black;
}

#entry img{
    max-height: 600px;
    margin: 0 auto;
    display: block;
}

main p{
    margin: 20px 0;
    width: 50%;
    margin: 25px auto;
}

footer{position: relative;}