.grid-container {
    display: block;
}

h1 {
  font-size: 24pt;  
}

.section {
    padding: 0 10px;
}

#intro {
    width:90%;
}

#email-big{
    display:none;
}
#email-small{
    display:block;
}

.item {
    margin-bottom: 30px;
}

.item-img {
    height: 150px;
    margin-bottom: 0;
}