#blog-title {

}

h2 {
  margin: 30px 0 10px 0;
}

#main {
  background-color: #f2f0f2;
}

#main-content {
  width: 80%;
  padding: 2%;
  height: fit-content;
  background-color: #fafafa;
}

#main-content > h2 {
  font-size: 40px;
}

#main-content > img {
  margin: 0 0 20px 0;
  width: 100%;
  display: block;
}

.main-text {
  font-size:22px;
  font-family: sans-serif;
  font-weight: 100;
  font-style: normal;
  margin: 20px 0 20px 0;
  clear: both;
}

#main-content > ol > li {
  list-style-type:decimal;
  font-size: 22px;
  margin: 0 0 10px 4%;
}
