#main {
  background-color: #f2f0f2;
}

#main-content {
  width: 700px;
  min-height: 400px;
}

#form-container {
  width: 500px;
  padding: 50px;
  margin: 0 auto;
}

#form-container > ul > li {
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
}

label {
}

input{
  width: 400px;
  height: 25px;
}

button {
  width: 100px;
  height: 50px;
  margin: 20px auto;
}